.chat-page_header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
}

.chat-page_header_col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_page_header_username {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.chat-page_header_icon_wrapper {
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.chat-page_header_icon {
  width: 25px;
}
