.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px;
}
.header__text {
  font-size: 25px;
  font-weight: 600;
  margin: 15px 15px;
}

.header__icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icon {
  width: 30px;
  margin: 15px 10px;
}
