.status-bar{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
}
.status-bar__columm:last-child{
    display: flex;
align-items: center;
}
.status-bar__columm:last-child span{
    margin: 0px 5px;
}